/*home*/
.modal-content{
    border-radius: 0.5rem!important;
}
.form-group{
    margin-bottom: .5rem!important;
}
.style-banner{
    padding-top: 0!important;
}
/*car-edit*/
.date_go,.time_go,.time_back,.date_back{
    line-height: 30px;
    display: inline-block;
    margin:2px;
}
.date_go,.date_back{
    width: 30px;
}
/*end car edit*/
/*detail car*/
.title-content{
    margin: 0 0.5em;
    text-transform: uppercase;
}
.ans-content{
    padding-left: 10px
}
.ans-box{
    border-bottom: 1px solid #f4f4f4;
}
.progress{
    height: .8rem;
}
.report-info:hover{
    color: green;
}
.report-info{
    color: #17a2b8;
}
.more-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-more-image .contain-image{
    height: 100px;
}
.required:after {
    content:" *";
    color: red;
  }
.carousel-control-prev,.carousel-control-next{
    width: 4%!important;
}
.report-info:hover{
    color: green;
}
.star{
    color: yellow;
}
.content-detail{
    padding: 5px;
}
.box-y-cmt{
    display: none;
}
.comment-box{
    padding: 1em;
}
/*end detail car*/


/*Loader spinner*/
.loader {
    display: none;
    position: fixed;
    top: 30%;
    right: 45%;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    z-index: 1000;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*end loader spinner*/

.text-yel{
    color: yellow;
}
.search-sec{
    padding: 1rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    background-color: yellow;
}
.header-error h3{
    font-size: 20px;
    font-weight: 600;
}
.ava-cmt{
    border-radius: 50%;
}
.modal-header{
    background-color: #545454;
    color: white;
}
.modal-header button{
    color: white;
}
@media (min-width: 992px){
    .ava-cmt{
        width: 50px;
    }
    .search-sec{
        /*position: relative;*/
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
    .header-error{
        margin-top: 10%;
    }
    .header-error p{
        font-size: 18px;
        color: #000;
    }
    .detail-content{
        background-color: #fff;
        margin: 0 .5em 2em;
        padding: 1em;
        border-radius: 5px;
    }
    .modal-header{
        padding:     .1rem  .5rem!important;
    }
    .more-image-upload{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
    .search-slt,.wrn-btn{
        height: 2.5rem!important;
    }
    .modal-body>form>.form-group,.modal-body>form>label.col-form-label{
        margin-bottom: 0!important;
    }
    button.button-style-w3{
        padding: 6px 10px;
    }
    .header-error{
        margin-top: 30%;
    }
    .header-error p{
        font-size: 16px;
        color: #000;
    }
    .style-banner h3{
        font-size: 28px!important;
    }
    .ads-1{
        display: none;
    }
    .mian-content-wthree{
        min-height: 500px;
    }
    .d-star{
        float: left!important;
    }
    .star-box{
        padding-right: 0!important;
        padding-left: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .ava-cmt{
        width: 30px;
    }
    figcaption{
        font-size: 12px;
    }
    .detail-content{
        background-color: #fff;
        margin: 0;
        padding: .3em;
        border-radius: 5px;
    }
    .title-content{
        font-size: 1rem!important;
    }
    .star-line{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .modal-header{
        padding: .1rem!important;
    }
    .more-image-upload{
        width: 85px;
        height: 85px;
    }
}

