.content-detail{
    padding: 5px;
}
.example-comment{
    border-radius: 20px;
    border: .5px #cec2c2  solid;
    font-size: .9em;
    margin-right: .5em;
    padding: 0 .4em;
}
.comment-box{
    padding: 1em;
}
.text-yel{
    color: yellow;
}
.search-sec{
    padding: 1rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    background-color: yellow;
}
.header-error h3{
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 992px){
    .search-sec{
        /*position: relative;*/
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
    .header-error{
        margin-top: 10%;
    }
    .header-error p{
        font-size: 18px;
        color: #000;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
    .search-slt,.wrn-btn{
        height: 2.5rem!important;
    }
    .modal-body>form>.form-group,.modal-body>form>label.col-form-label{
        margin-bottom: 0!important;
    }
    button.button-style-w3{
        padding: 6px 10px;
    }
    .header-error{
        margin-top: 30%;
    }
    .header-error p{
        font-size: 16px;
        color: #000;
    }
    .style-banner h3{
        font-size: 28px!important;
    }
    .ads-1{
        display: none;
    }
    .mian-content-wthree{
        min-height: 500px;
    }
}

